<h1>Categories Admin Page</h1>
<div class="well well-sm">
  {{#bs-form formLayout="inline" action="addNewCategory" model=newCategory}}
    {{bs-form-element label="New category:" placeholder="Category name"
		value=newCategory.name}}
    {{bs-button defaultText="Add" type="primary" buttonType="submit"}}
  {{/bs-form}}
</div>


<ul>
	{{#each model as |category| }}
		<li>ID: {{category.id}} Name: {{category.name}}
			<button {{action 'deleteCategory' category}}>Del</button>
		</li>
	{{/each}}
</ul>
Category Counter: {{ model.length }}
{{outlet}}
